body {
  background-color: #f5f5f5; /* prata claro */
  font-family: Arial, sans-serif;
  color: #001f5c; /* azul royal */
  text-align: center;
}

header {
  background: #0057ff;
  color: white;
  padding: 1rem;
}

.jogo {
  border: 3px solid #0057ff;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  background: white;
}

button {
  background: #0057ff;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #003bb5;
}
